footer {
  position: relative;
  bottom: 0;
  /*z-index: 1;*/
  padding-top: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background: #025395 /*linear-gradient(90deg,#aaa,#262626)*/;
}

footer p {
  color: #fff;
}
footer .footerbrand {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #038adb;
}
